
.column {

  &__top {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 1200px) {
      width: 90vw;
    }
  }

  &__feature {
    width: 100%;
    height: 30vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;

    @media only screen and (max-width: 1200px) {
      height: 40vw;
    }

    @media only screen and (max-width: 700px) {
      height: 30rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-top: -12rem;
    width: 80%;

    @media only screen and (max-width: 700px) {
      width: 90%;
    }

    @media only screen and (max-width: 600px) {
      width: 95%;
    }
  }

  &__volume {
    background-color: #fff;
    display: flex;
    width: fit-content;
    padding: .8rem 1.25rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__year {
    font-size: 1.8rem;
    margin-right: -.5rem;
    transform: rotate(-90deg);

    @media only screen and (max-width: 1200px) {
      font-size: 1.6rem;
    }
  }

  &__season {
    font-size: 3.2rem;
    width: 4.2rem;
    height: 4.2rem;
    line-height: 3.7rem;
    border: 2px solid #111;
    border-radius: 50%;
    text-align: center;

    @media only screen and (max-width: 1200px) {
      font-size: 2.8rem;
      width: 3.6rem;
      height: 3.6rem;
      line-height: 3.1rem;
    }
  }

  &__tag {
    padding: 0 2rem;
    margin-left: 2rem;
    font-size: 2.6rem;
    line-height: 1;
    border-left: 2px solid #111;
    height: fit-content;

    @media only screen and (max-width: 1200px) {
      font-size: 2.4rem;
      margin-left: 1.5rem;
      padding: 0 1.5rem;
    }
  }

  &__meta {
    background-color: #fff;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }

  &__title-text {
    font-size: 2.6rem;
    color: $color-dark-blue;
    letter-spacing: 1px;
    margin-bottom: 1rem;

    @media only screen and (max-width: 1200px) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 700px) {
      font-size: 2.2rem;
    }
  }

  &__meta-data {
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__btn {
    align-self: flex-end;
    margin-right: 1rem;
    margin-top: -2.5rem;
    margin-bottom: 1.5rem;
    padding: .5rem 1.5rem;
    color: $color-dark-blue;
    border: 1px solid currentColor;
    font-size: 1.4rem;
    transition: all .3s;

    @media only screen and (max-width: 700px) {
      padding: .3rem 1rem;
      margin-top: -2rem;
    }

    @media only screen and (max-width: 600px) {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      align-self: flex-start;
    }

    @media (-moz-touch-enabled: 0), (pointer: fine) {
      &:hover {
        padding: .5rem 2rem;
        background-color: $color-dark-blue;
        color: #fff;

        @media only screen and (max-width: 700px) {
          padding: .3rem 1.5rem;
        }
      }
    }
  }

  &__bar {
    width: calc(80% - 4rem);
    margin-bottom: 5rem; 
    border-color: $color-dark-blue;

    @media only screen and (max-width: 700px) {
      width: calc(90% - 4rem);
    }

    @media only screen and (max-width: 600px) {
      width: calc(95% - 4rem);
      margin-bottom: 3.5rem;
    }
  }

  &__content {
    width: 50%;
    margin: 0 auto;

    @media only screen and (max-width: 1200px) {
      width: 70%;
    }

    @media only screen and (max-width: 600px) {
      width: 80%;
    }

    p {
      font-size: 1.6rem;
      letter-spacing: .5px;
      line-height: 1.8;
      margin-bottom: 1.5rem;
      font-weight: 300;
    }
  }

  &__content-title {
    font-size: 2rem;
    padding-bottom: 2rem;

    &:not(:first-child) {
      margin-top: 4rem;
    }
  }

  &__content-img {
    width: 110%;
    margin: 5rem 0 5rem -10%;
    position: relative;

    @media only screen and (max-width: 600px) {
      width: 105%;
      margin-left: -5%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.image-info {
  position: absolute;
  bottom: -2rem;
  right: -10%;
  padding: 1rem 2rem;
  background-color: #fff;
  border-right: 4px solid $color-orange;
  font-size: 1.5rem;
  color: $color-dark-blue;
  font-weight: 400;
  max-width: 60%;

  @media only screen and (max-width: 700px) {
    max-width: 80%;
  }

  @media only screen and (max-width: 600px) {
    max-width: 100%;
    position: relative;
    right: 0;
    margin-top: -2rem;
    height: fit-content;
  }
}

/* ============ Author Intro Section ============ */
.author {
  border: 2px solid $color-dark-blue;
  margin: 4rem 0;
  padding: 2rem 3rem;

  &__name {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $color-dark-blue;
  }

  p.author__intro {
    color: $color-dark-blue;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: .8rem;
  }
}


