
.jumbotron {
  padding: 4rem 0;
  position: relative;
  display: flex;
  flex-direction: row-reverse;

  @media only screen and (max-width: 1000px) {
    padding-top: 0;
    flex-direction: column-reverse;
  }

  &__image {
    width: calc(100% - 25rem);
    height: 50rem;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 4rem;
    left: 0;
    overflow: hidden;

    @media only screen and (max-width: 1200px) {
      width: calc(100% - 20rem);
    }

    @media only screen and (max-width: 1000px) {
      width: 100%;
      top: 0;
      height: 40rem;
    }

    @media only screen and (max-width: 600px) {
      height: 30rem;
    }
  }

  &__hover-section {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    align-items: flex-end;
    margin-left: 100%;
    visibility: hidden;
    transition: margin-left .4s;
  }

  &__hover-text {
    font-size: 2rem;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 400;
    margin-left: 22rem;
    width: 50rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: 1200px) {
      margin-left: 18rem;
      font-size: 1.8rem;
      width: 45rem;
    }

    @media only screen and (max-width: 800px) {
      padding-right: 1rem;
    }
  }

  &__hover {

    @media (-moz-touch-enabled: 0), (pointer: fine) {
      &:hover {
        .mainTitle__more::after {
          width: 5rem;
        }

        .jumbotron__hover-section {
          visibility: visible;
          margin-left: 0;
        }
      }
    }

    @media only screen and (max-width: 1000px) {
      position: relative;
    }
  }
}

/* IndexList Component */
.indexList {
  background-color: $color-orange;
  width: 30rem;
  margin-top: -4rem;
  position: relative;
  height: 60rem;

  @media only screen and (max-width: 1200px) {
    width: 25rem;
  }

  @media only screen and (max-width: 1000px) {
    margin-top: 46rem;
    width: 100%;
    height: 10rem;
  }

  @media only screen and (max-width: 600px) {
    height: auto;
    padding: 2rem;
    background-color: transparent;
    margin-top: 36rem;
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 1000px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    @media only screen and (max-width: 600px) {
      position: relative;
      transform: translateY(0);
      top: 0;
    }
  }

  &__item {
    text-align: center;
    margin: 1rem 0;
    width: fit-content;
    position: relative;
    transition: all .4s;

    &:not(:last-child) {
      margin-bottom: 5.5rem;

      &::after {
        content: '';
        position: absolute;
        top: calc(100% + 1rem);
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        width: 2px;
        height: 3.5rem;
        background-color: #fff;
        border-radius: 10rem;

        @media only screen and (max-width: 1000px) {
          display: none;
        }
      }

      @media only screen and (max-width: 1000px) {
        margin-bottom: 1rem;
      }

      @media only screen and (max-width: 600px) {
        margin-bottom: .5rem;
      }
    }

    @media (-moz-touch-enabled: 0), (pointer: fine) {
      &:hover {
        transform: translateY(-5px);
      }
    }

    @media only screen and (max-width: 1000px) {
      width: 20%;
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #111;
      border-radius: .5rem;
    }
  }

  &__link {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;

    @media only screen and (max-width: 800px) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 600px) {
      color: #111;
    }
  }
}

/* Title Component */
.mainTitle {
  position: absolute;
  background-color: #fff;
  height: 6rem;
  width: calc(100% - 30rem);
  top: calc(100% - 10rem);
  left: 0px;
  color: #111;

  @media only screen and (max-width: 1200px) {
    width: calc(100% - 25rem);
  }

  @media only screen and (max-width: 1000px) {
    width: 100%;
    top: 40rem;
  }

  @media only screen and (max-width: 800px) {
    height: fit-content;
  }

  @media only screen and (max-width: 600px) {
    top: 30rem;
  }

  &__volume {
    position: absolute;
    top: -7rem;
    left: 6rem;
    background-color: #fff;
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: center;

    @media only screen and (max-width: 1200px) {
      left: 3rem;
    }

    @media only screen and (max-width: 800px) {
      top: -6rem;
    }
  }

  &__year {
    font-size: 2.6rem;
    font-weight: 900;
    transform: rotate(-90deg);
    margin-right: -1rem;

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }
  }

  &__season {
    font-size: 3.6rem;
    font-weight: 700;
    width: 5rem;
    height: 5rem;
    line-height: 4.4rem;
    text-align: center;
    border: 2px solid #111;
    border-radius: 50%;

    @media only screen and (max-width: 800px) {
      font-size: 3rem;
      width: 4rem;
      height: 4rem;
      line-height: 3.5rem;
    }
  }

  &__section {
    padding-left: 6rem;
    display: flex;
    justify-content: space-between;

    @media (-moz-touch-enabled: 0), (pointer: fine) {
      &:hover {
        .mainTitle__more::after {
          width: 5rem;

          @media only screen and (max-width: 1000px) {
            width: 4rem;
            transform: translateX(-1rem);
          }
        }
      }
    }

    @media only screen and (max-width: 1200px) {
      padding-left: 3rem;
    }
  }

  &__title {
    font-size: 3rem;
    line-height: 6rem;
    font-weight: 700;
    padding-left: 2rem;
    color: #111;

    @media only screen and (max-width: 1200px) {
      font-size: 2.8rem;
    }

    @media only screen and (max-width: 800px) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 600px) {
      line-height: 1.2;
      padding: 2rem;
    }
  }

  &__more {
    color: #111;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 6rem;
    margin-right: 1rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 4rem;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: calc(100% + 2rem);
      transition: all .3s;

      @media only screen and (max-width: 1000px) {
        left: calc(-100% + 2rem);
        background-color: #111;
      }

      @media only screen and (max-width: 800px) {
        width: 0;
        background-color: transparent;
      }
    }

    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
}